// .hi-day-page{
//     color: blue;
//     #test{
//         background-color: green;
//         font-size: 20px;
//     }
// }

.logo-hiday{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 600px;
    // height: auto;
}

hr{
    width: 85%;
    border-width: 2px;
    background-color: #5087AC;
}

