{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<title>IR Project | DGD</title>
<link rel="icon" href="{% static 'media/dgd/NEW-LOGO.png' %}" />
{% endblock %}

{% block content %}
<section class="logo-section" data-aos="zoom-out">
	<div class="container">
		<div class = "row">
		<div class="logo-new">
			<img class="logo-dgd" src="{% static 'media/dgd/NEW-LOGO.png' %}">
			<!-- <img class="logo-hiday" src="assets/hiday/logoHIDAY.png"> -->
		</div>
	</div>
	</div>
</section>
<hr>

<!-- <section class="d-flex justify-content-center"> -->
<section class="flex-wrap d-flex align-items-center">
	<div class = "container">
		<div class="row">
			<div class="dgd-desc-content col-md-6" data-aos="zoom-in">
				<p class = "dgd-desc-text">
					Diplomatic Gala Dinner is a formal dinner which held 
					after the Conference and Grand Launching of IFPR. Its 
					purposes are to celebrate the academic achievement, 
					encourage self-development, and broaden the connections. 
					In this event, the participants will get a chance to 
					interact with the diplomats and the officials from many 
					institutions.
				</p>
			</div>
			<div class = "dgd-image-content col-md-6">
				<img class="foto-dgd" src="{% static 'media/dgd/FOTO-DGD.png' %}">
			</div>
		</div>
	</div>
</section>
<hr>

<section class="section-datevenue">
	<h1 class = "datevenue-title"> <strong> DATE & VENUE </strong></h1><br>
	<div class = "container">
		<div class="row">
			<div class = "col-md-6">
				<div class="mapouter">
					<div class="gmap_canvas">
						<iframe width="800" height="300"src="https://maps.google.com/maps?q=hotel%20santika%20margonda&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						</iframe>
					</div>
				</div>
			</div>
			<div class = "col-md-6">
				<div class="datevenue-content" data-aos="fade-left">
					<strong>
						November, 8th 2019<br>
						18.00 - 21.00<br><br>
						Hotel Santika Margonda,<br>
						Jalan Margonda Raya
					</strong>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="section-documentation">
	<h1 class = "documentation-title"><strong>DOCUMENTATION</strong> </h1><br>
	<div class = "container">
		<div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
				<li data-target="#demo" data-slide-to="3"></li>
			</ul>
			
			<!-- The slideshow -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'media/dgd/FOTO1.jpg' %}" alt="foto1" >
				</div><div class="carousel-item">
					<img src="{% static 'media/dgd/FOTO2.jpg' %}" alt="foto2" >
				</div><div class="carousel-item">
					<img src="{% static 'media/dgd/FOTO3.jpg' %}" alt="foto3" >
				</div><div class="carousel-item">
					<img src="{% static 'media/dgd/FOTO4.jpg' %}" alt="foto4" >
				</div>
			</div>
			
			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</div>
</section>
<hr>

<section class="section-testimoni">
	<h1 class = "testimoni-title"> <strong>TESTIMONY</strong> </h1>
	<div class = "container">
		<div class="row">
			<div class = "testimoni-image-content col-md-6">
				<img class="foto-testimoni" src="{% static 'media/dgd/NABIL-DGD.png' %}">
			</div>
			<div class="testimoni-content col-md-6" data-aos="zoom-in">
				<p class = "testimoni-text">
						After going to Diplomatic Dinner, I became thoroughly 
						exposed to the whole Indonesia diplomatic affairs and 
						how it plays role in the world especially in the Southeast Asia region. 
						It is truly a remarkable experience to partake!
				</p>
				<br>
				<h5>Nabil Nur Adha,<br>
					Participant of Diplomatic Dinner 2018
				</h5>
			</div>
		</div>
	</div>
</section>
<hr>
<div class ="row">
	<div class = "col-md-3"></div>
	<div class="konten-dgd col-md-6">	
		<button onclick="window.open('https://movintix.com/events/222','_blank')" class="button-dgd"><strong>BUY TICKETS</strong></button>
	</div>
	<div class = "col-md-3"></div>
</div>

{% endblock %}