{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<title>IR Project | IFPR</title>
{% endblock %}

{% block content %}
<section class="logo-section">
	<div class="container">
		<div class = "row">
		<div class="logo-div col-md-7">
			<img class="logo-ifpr" src="{% static 'media/ifpr/LOGOIFPR.png' %}">
			<!-- <img class="logo-hiday" src="assets/hiday/logoHIDAY.png"> -->
		</div>
		<div class="logo-desc col-md-5">
			<h1 class = "main-title" data-aos="zoom-out"><strong>
				INDONESIA<br> 
				FOREIGN<br> 
				POLICY<br> 
				REVIEW<br>
			</strong>
			</h1>
		</div>
	</div>
	</div>
</section>
<hr>

<section class="subtheme-section ">
	<div class="container">
		<h1 class = "subtheme-title"> <strong>SUB-THEMES </strong></h1>	
		<span class="dot-1" data-aos="fade-right"> 
			<div class = "text-dot"><br>
				INDONESIA’S CONTRIBUTION <br>IN<br>GLOBAL PEACE <br>AGENDA <br>
			</div></span>
		<span class="dot-2" data-aos="fade-up">
			<div class = "text-dot"><br>
				INDONESIA’S COMPETITIVENESS<br>IN<br>DIGITAL<br>ECONOMY <br>
			</div>
		</span>
		<span class="dot-3" data-aos="fade-left">
			<div class = "text-dot" ><br>
				INDONESIAN <br> DIPLOMACY<br>IN<br>ENVIRONTMENTAL <br>AGENDA<br>
			</div>
		</span>
	</div>
</section>
<hr>

<!-- <section class="d-flex justify-content-center"> -->
<section class="flex-wrap d-flex align-items-center">
	<div class = "container">
		<div class="row">
			<div class = "ifpr-image-content col-md-6">
				<img class="foto-ifpr" src="{% static 'media/ifpr/IFPR.png' %}">
			</div>
			<div class="ifpr-desc-content col-md-6" data-aos="zoom-in">
				<p class = "ifpr-desc-text">
				International Foreign Policy Review (IFPR)
				is an critical essay competition in
				Collaboration with Jurnal Global, that 
				focuses on issues that happened globally.
				Through this event, HMHI has a purpose to 
				facilitate students from Indonesia, 
				especially from Internartional Relations major,
				to sharpening their knowledge and skill in 
				making, presenting, and publishing their
				essay.
				</p>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="flex-wrap d-flex align-items-center">
	<div class="timeline">
		<h1 class = "subtheme-title"> <strong>TIMELINE </strong></h1>
		<img class="foto-timeline" data-aos="flip-up" src="{% static 'media/ifpr/NEW-TIMELINE.png' %}">
	</div>
</section>
<hr>


<section class="section-testimoni">
	<h1 class = "testimoni-title"> <strong>TESTIMONI</strong></h1>
	<div class = "container">
		<div class="row">
			<div class = "testimoni-image-content col-md-6">
				<img class="foto-testimoni" src="{% static 'media/ifpr/JONATHAN-IFPR.png' %}">
			</div>
			<div class="testimoni-content col-md-6" data-aos="zoom-in">
				<p class = "testimoni-text">
				Writing in IR issues have been my passion for 
				long. With a chance to publish my essay in IFPR,
				I was able to develop my academic writing skills 
				as well as getting more insight about contemporary 
				issues in international relations. In addition, during 
				the book launching there were interesting speeches and 
				presentations done by leading practitioners of Indonesian 
				foreign policy. Publishing my essay in IFPR also enables
				me to cite myself when I'm doing my papers.
				</p>
				<br>
				<h5>Jonathan Jordan,<br>
					Contributor of IFPR 2018
				</h5>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="section-latpub">
	<div class="container">
		<h1 class = "latpub-title"> <strong> LATEST PUBLICATION </strong></h1>	
	</div>
	<div class = "container">
		<div class="row">
			<div class ="publication-image-content col-md-6" data-aos="fade-up-right">
				<img class="foto-publikasi" src="{% static 'media/ifpr/PUB-1.png' %}">
				<div class = "publication-text">
					<a class = "href-pub" href = "https://drive.google.com/file/d/1UPdvCbQrLz1gfnbS-ysl_aIz3LZIyxqP/view?usp=drivesdk">
					<strong>2017 </strong><br>
					Rekonfigurasi Posisi Indonesia<br>
					dalam Tatanan Global Kontemporer</a>
				</div>
				
			</div>
			<div class="publication-image-content col-md-6" data-aos="fade-up-left">
				<img class="foto-publikasi" src="{% static 'media/ifpr/PUB-2.png' %}">
				<div class = "publication-text">
					<a class = "href-pub" href = "https://drive.google.com/file/d/1obBGhQENlOllDL51PzBsYWCY7tdqcRCk/view?usp=drivesdk">
					<strong>2018</strong> <br>
					ASEAN Vision 2025<br>
					Towards-People-Oriented Community</a>
				</div>
				
			</div>
		</div>
	</div>
</section>
<hr>

<section class="section-extra">
	<div class = "container">
		<div class="row">
			<div class="col-md-6">
				<div class="konten-button-tickets">
					<button onclick="window.open('https:bit.ly/IFPR2019GL','_blank')" class="ifpr-tickets" ><strong>GUIDELINES</strong></button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="konten-button-tickets">
					<button onclick="window.open('https:bit.ly/IFPR2019','_blank')"class="ifpr-tickets"><strong>REGISTRATION</strong></button>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}