{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <title>IR Project | HIDAY</title>
{% endblock %}
{% block content %}
<section class="logo-section">
    <div class="logo-content">
        <img class="logo-hiday" src="{% static 'media/hiday/logoHIDAY.png' %}">
        <!-- <img class="logo-hiday" src="assets/hiday/logoHIDAY.png"> -->
    </div>
</section>
<hr>

<!-- <section class="d-flex justify-content-center"> -->
<section>
    <div class="container">
        <div class="row hiday-content">
            <div class="col-sm-6 hiday-desc-content">
                <p class="hiday-desc-text">HI-Day is the first event of IR
                    Project UI that invites high-school
                    students who are curious about
                    International Relations major to
                    get to know more about it. In this
                    event, there will be held a
                    simulation class, talkshows with
                    the alumni of International
                    Relations Universitas Indonesia,
                    and QnA session with the enrolling
                    students.
                </p>
            </div>
            <div class="col-sm-6 hiday-image-content">
                <img class="foto-hiday" src="{% static 'media/hiday/foto_hiday.png' %}">
            </div>
        </div>
    </div>
</section>
<hr>

<section>
    <div class="container kegiatan">
        <div class="row">
            <div class="col-sm-4 konten-kegiatan">
                <div class="foto-kegiatan">
                    <img src="{% static 'media/hiday/talkshow_hiday.png' %}">
                </div>
                <div class="konten-teks-kegiatan">
                    <h5 class="teks-kegiatan">Talkshow</h5>
                </div>
            </div>
            <div class="col-sm-4 konten-kegiatan">
                <div class="foto-kegiatan">
                    <img src="{% static 'media/hiday/class_simulation.png' %}">
                </div>
                <div class="konten-teks-kegiatan">
                    <h5 class="teks-kegiatan">Class Simulation</h5>
                </div>
            </div>
            <div class="col-sm-4 konten-kegiatan">
                <div class="foto-kegiatan">
                    <img src="{% static 'media/hiday/Q&A_session.png' %}">
                </div>
                <div class="konten-teks-kegiatan">
                    <h5 class="teks-kegiatan">Q&A Session</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<section>
    <div class="testimony">
        <h1 class="judul-testimony"><strong>TESTIMONY</strong></h1>
        <div class="row konten-testimony">
            <div class="col-md-6 konten-foto-testimony">
                <div class="foto-testimony">
                    <img src="{% static 'media/hiday/SATRIO_HIDAY.png' %}">
                </div>
            </div>
            <div class="col-md-6 konten-teks-testimony">
                <p class="teks-testimony">
                    Since junior high school, I have been dreaming to go to Universitas Indonesia, especially in
                    the Department of International Relations. For me, International Relations is an interesting
                    matter to talk about. Because of that, if there were events about surrounding the issues, I’ll
                    stand there on the first row.
                    Thankfully, HMHI organizes an event called HI Day, where we can be an IR UI student for a
                    day, and guess what? It is not only about the experience of becoming student of IR, but the
                    memories of that day has motivated me to study harder so I can get in there.
                    Now, I’m officially an International Relations student in UI. I can not thank HI Day enough so
                    I can be enrolling in one of the most prestigious program in the country. I am excited to learn
                    more and embrace the ever changing globe.
                </p>
                <div class="nama-testimony">
                    <p>- Satrio Budi Pambagyo
                        <p>Participant of HI-DAY 2018</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="konten-button-tickets">
        <button class="button-tickets"><strong>BUY TICKETS</strong></button>
    </div>
</section>
{% endblock %}