{% load static %}
<footer class="container-fluid footer-content">
    <div class="row">
        <div class="column-footer">
            <div class="row">
                <div class="icon">
                    <a href="https://www.instagram.com/hmhiui/" target="_blank">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </div>
                <div class="icon">
                    <a>
                        <i class="fab fa-line fa-3x"></i>
                    </a>
                </div>
                <div class="icon">
                    <a href="https://twitter.com/hmhiui" target="_blank">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="column-footer">
            <div class="footer-company-about">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'media/footer/logoHMHIxUI.png' %}" height="50" alt="">
                </a>
            </div>
        </div>
    </div>



</footer>